.title {

    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 28, 115);
    color: white;
    margin-bottom: 25px;
}

.title2 {

    padding: 15px;

}

.contenedorEmpty {

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 25px rgb(175, 175, 175);
    width: 40%;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;

}

.linkHome {

    margin-left: auto;
    margin-right: auto;
    text-decoration: none;

}

.botonLimpiar {

    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 35px;
    padding: 30px;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    background-color: rgb(255, 28, 115);
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    
    border-radius: 5px;
    border: 0;
    
    }
    
    
    .botonLimpiar:hover {
    
    background-color: rgb(250, 101, 158);
    color: white;
    
    }

    .botonBorrar {

        display: flex;
        width: auto;
        align-items: center;
        height: 35px;
        padding: 20px;
        
        color: white;
        background-color: rgb(28, 134, 255);
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        
        border-radius: 5px;
        border: 0;
        
        }

        .botonBorrar:hover {
         
            background-color: rgb(101, 195, 250);
            color: white;
            
            }
    
    .itemCartContainer {

        display: flex;
        flex-wrap: wrap;

    }

       
    .itemCartCard {

        display: flex;
        justify-content: space-between;
        padding: 40px;
        padding-left: 80px;
        padding-right: 80px;
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 15px;
        box-shadow: 3px 3px 25px rgb(175, 175, 175);
        border-radius: 15px;
        height: 50px;
        align-items: center;
        width: 100%;
        
    }

    

    .imageCart {

        height: 30px;
        width: auto;
        margin-right: 30px;

    }

    .idCompra {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        box-shadow: 3px 3px 25px rgb(175, 175, 175);
        border-radius: 15px;
        height: 240px;
        width: 70%;

    }

    .titleId {

        margin-bottom: 30px;

    }