.titulo {

    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: rgb(255, 182, 225);
    color: #111;


}

.titulo:hover {

    font-weight: bolder;

}

.containerProducts {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;



}