
.relleno {

    background-color: rgb(28, 145, 255);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    margin-right: 15px;


}


.simple {

    color: white;
    background-color: rgb(255, 28, 115);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 50px;
    font-weight: 500;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;


}

.relleno:hover {

    background-color: rgb(101, 178, 250);
    color: white;
    


}

.simple:hover {

    background-color: rgb(250, 101, 158);
    color: rgb(255, 255, 255);
 
 
 }