
.relleno {

    background-color: #111;
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* padding: 10px; */
    /* padding-left: 15px;
    padding-right: 15px; */
    /* border-radius: 50px; */
    margin-right: 15px;
    height: 40px;
    border: none;
    border-radius: 13px;


}


.simple {

    color: white;
    background-color: #111;
    font-family: 'Roboto', sans-serif;
    /* padding: 10px; */
    /* border-radius: 50px; */
    font-weight: 500;
    margin-right: 15px;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    height: 40px;
    border: none;
    border-radius: 13px;


}



 .fb {

    height: 70%;
    border-radius: 7px;

 }